body, html{
	font-family: 'Roboto', sans-serif !important;
	margin: 0 !important;
}

body{
	padding-top: 75px;
}

@media screen and (max-width: 480px) {
	body{
		padding-top: 0px;
	}
}

h1,h2,h3,h4,h5{
	margin: 0px;
}

/*Menu*/

.custom-navbar{
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0 0 4px 0 rgba(152, 152, 152, 0.5);
	border-radius: 0px;
	margin-bottom: 0px;
	border-top: 5px solid rgba(89, 208, 167, 0.9);
}

.navbar-default .navbar-nav>li>a{
	padding-top: 25px;
	padding-bottom: 24px;
	color: #423c38;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse{
	max-height: 100vh;
}

.navbar-toggle{
	padding: 19px;
}

/***********************************************
*******************Banner***********************/

.carousel{
	background-color: black;
	height: 550px;
}
.carousel-inner, .item{
	height: 100%;
}

.carousel-inner .img-slide{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	opacity: 0.65;
}

@media screen and (max-width: 480px) {
	.carousel{
		height: 100vh;
	}
}

.carousel-caption{
	height: 100%;
	top: 0px;
	display: flex;
}

.carousel-caption > div{
	margin: auto;
	max-width: 700px;
}

.carousel-caption > div > .title{
	font-family: Roboto;
	font-size: 4rem;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	color: #1de9b6;
	text-shadow: none;
	text-align: center;
}

.carousel-caption > div > .text{
	font-family: Lato;
	font-size: 2rem;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.3;
	text-align: center;
	color: #ffffff;
	text-shadow: none;
}

.carousel-indicators .active{
	background-color: #59bca8;
	border: none;
}

.carousel-indicators li{
	background-color: #1de9b6;
	border-color: #1de9b6;
}

/***********************************************
*******************Botões***********************/

.custom-btn-primary{
	font-size: 2rem;
	line-height: 2rem;
	font-weight: 300;
	padding: 20px 15px;
	color: #FFF;
	border-radius: 2px;
	background-color: #22ce98;
	border: solid 0.5px #22ce98;
}

.custom-btn-primary.btn-dark{
	background-color: #15967d !important;
	border: solid 0.5px #15967d !important;
}

.custom-btn-primary:hover, .custom-btn-primary:active{
	color: #FFF;
}

.btn-lg{
	padding: 20px 35px;
}

/***********************************************
*******************Seções***********************/

#sobre, #casos {
	background-color: #FFF;
}

#sobre h1, #casos h1{
	color: #423c38;
}

#sobre .mini-divider, #casos .mini-divider{
	background-color: #1de9b6; 
}

#servicos{
	background-color: #59d0a8;
}

#servicos h1{
	color: #FFF;
}

#servicos .mini-divider{
	background-color: #423c38; 
}

#servicos p{
	max-width: 70%;
	margin: auto;
	text-align: center;
	color: #FFF;
	font-weight: 300;
	font-size: 2rem;
	margin-bottom: 25px;
}

#servicos ul > li{
	color: #FFF;
	font-weight: 300;
	font-size: 1.5rem;
	padding: 5px 0px;
}

#casos p{
	max-width: 70%;
	margin: auto;
	text-align: center;
	color: #666666;
	font-weight: 300;
	font-size: 2rem;
	margin-bottom: 25px;
}

@media screen and (max-width: 480px) {
	#servicos ul > li{
		font-size: 2rem;
		text-align: center;
	}
}

/***********************************************
*******************Conteúdo*********************/

#conteudo  h1{
	text-align: center;
	font-weight: 300;
	margin: auto;
	padding-top: 30px;
	margin-bottom: 3px;
}

#conteudo  h2{
	text-align: left;
	font-weight: 500;
	color: #423c38;
	font-size: 3rem;
	margin-bottom: 6px;
}

#conteudo  p.sub-title{
	text-align: left;
	font-weight: normal;
	color: #666666;
	font-size: 2rem;
}

#conteudo  p.description{
	text-align: left;
	font-weight: normal;
	color: #666666;
	font-size: 1.5rem;
}

.mini-divider{
	height: 3px; 
	width: 150px; 
	margin: auto;
	margin-bottom: 60px;
}

.divider{
	height: 1px; 
	width: 100%; 
	background-color: #cccccc; 
	margin: 40px 0px;
	float: left;
	padding: 0px 15px;
}

#conteudo img{
	width: 100%;
}

#conteudo .block{
	width: 100%; 
	float: left;
}

/***********************************************
*******************Rodapé***********************/

footer{
	background-color: #15967d;
	color: #FFF;
}

footer .logo{
	padding: 45px;
	text-align: center;
}

footer address{
	font-size: 1.1rem;
	color: #FFF;
	font-weight: 300;
	margin-bottom: 0px;
}

footer ul{
	list-style: none;
	padding-top: 45px; 
	padding-bottom: 45px; 
}

footer ul > li > a{
	color: #FFF;
	font-size: 1.2rem;
}

.copyright{
	background-color: #59d0a8;
	height: 50px;
	color: #FFF;
	line-height: 50px;
}

@media screen and (max-width: 480px) {
	footer address, footer{
		text-align: center;
	}
}